<% content_for :carousel do %>
  <%= render partial: "shared/carousel" %>
<% end %>

<h1>Welcome to DCU's interactive platform for your students!</h1>
<p>
Welcome to your students who will interact with this platform!
</p>

<p>
This is a 100% engagement platform designed to engage your students.
</p>

<ol>
<li>You simply create your questions to generate your quiz.</li>
<li>Then your students log in and complete your quiz.</li>
<li>Immediate results are generated to share with all.</li>
<li>You then understand how effective your teaching was!</li>
</ol>

<p>Don't have an account? <%= link_to "Sign up", new_registration_path(User) %></p>
<p>Already have an account? <%= link_to "Login", new_user_session_path, method: :get %></p>