<h2>Do you want to save your test?</h2>

<%= link_to "Back and review answers", previous_wizard_path, role: "button", class: "btn btn-small btn-default" %>
<%= link_to "Finish and save results", next_wizard_path, role: "button", class: "btn btn-small btn-success" %>
