<h2>Do you want to save your test?</h2>
<p style="margin-bottom: 200px;">Once the Quiz results has been saved it will not be possible to go back and change the answers. A page will be displayed with the results of your Quiz.</p>

<div style="float: right;">
<%= link_to "Back and review answers", previous_wizard_path, role: "button", class: "btn btn-small btn-default" %>
<%= link_to "Finish and save results", next_wizard_path, role: "button", class: "btn btn-small btn-success" %>
</div>
